In [1]:
import pandas as pd

pd.set_option('display.max_columns',None)

In [2]:
# text; location; description, followers_count; friends_count; listed_count; lang;

In [3]:
df=pd.read_json("train.json")

In [4]:

# get user information
df["user_id"]=df["user"].apply(lambda x: x["id"])
df["user_name"]=df["user"].apply(lambda x: x["name"])
df["user_location"]=df["user"].apply(lambda x: x["location"])
df["user_description"]=df["user"].apply(lambda x: x["description"])
df["user_created_at"]=df["user"].apply(lambda x: x["created_at"])
df["user_created_at"]=pd.to_datetime(df["user_created_at"])

# get the count
df["user_followers_count"]=df["user"].apply(lambda x: x["followers_count"])
df["user_friends_count"]=df["user"].apply(lambda x: x["friends_count"])
df["user_listed_count"]=df["user"].apply(lambda x: x["listed_count"])
df["user_favourites_count"]=df["user"].apply(lambda x: x["favourites_count"])
df["user_statuses_count"]=df["user"].apply(lambda x: x["statuses_count"])
df["user_lang"]=df["user"].apply(lambda x: x["lang"])

# get the hashtags and user mentions
df["hashtags"]=df["entities"].apply(lambda x: x["hashtags"])
df["hashtags_clean"]=df["hashtags"].apply(lambda x: [y["text"] for y in x] if len(x)!=0 else None)
df["user_mentions"]=df["entities"].apply(lambda x:x["user_mentions"])
df["user_mentions_user_id"]=df["user_mentions"].apply(lambda x: [y["id"] for y in x] if len(x)!=0 else None)
df["user_mentions_user_name"]=df["user_mentions"].apply(lambda x: [y["name"] for y in x] if len(x)!=0 else None)

# get the quoted information
df["quoted_status_created_at"]=df["quoted_status"].apply(lambda x: x["created_at"] if pd.isnull(x)==False else None)
df["quoted_status_created_at"]=pd.to_datetime(df["quoted_status_created_at"])
df["quoted_status_id"]=df["quoted_status"].apply(lambda x: x["id"] if pd.isnull(x)==False else None)
df["quoted_status_text"]=df["quoted_status"].apply(lambda x: x["text"] if pd.isnull(x)==False else None)
df["quoted_status_hashtags"]=df["quoted_status"].apply(lambda x: x["entities"]["hashtags"] if pd.isnull(x)==False else None)
df["quoted_status_hashtags_clean"]=df["quoted_status_hashtags"].apply(lambda x: [y["text"] for y in x] if (x is not None and len(x)!=0) else None)
df["quoted_status_user_mentions"]=df["quoted_status"].apply(lambda x: x["entities"]["user_mentions"] if pd.isnull(x)==False else None)
df["quoted_status_user_mentions_user_id"]=df["quoted_status_user_mentions"].apply(lambda x:[y["id"] for y in x] if (x is not None and len(x)!=0) else None)
df["quoted_status_user_mentions_user_name"]=df["quoted_status_user_mentions"].apply(lambda x:[y["name"] for y in x] if(x is not None and len(x)!=0) else None)

# get the retweet information
df["retweeted_status_created_at"]=df["retweeted_status"].apply(lambda x: x["created_at"] if pd.isnull(x)==False else None)
df["retweeted_status_created_at"]=pd.to_datetime(df["retweeted_status_created_at"])
df["retweeted_status_id"]=df["retweeted_status"].apply(lambda x: x["id"] if pd.isnull(x)==False else None)
df["retweeted_status_text"]=df["retweeted_status"].apply(lambda x: x["text"] if pd.isnull(x)==False else None)
df["retweeted_status_hashtags"]=df["retweeted_status"].apply(lambda x: x["entities"]["hashtags"] if pd.isnull(x)==False else None)
df["retweeted_status_hashtags_clean"]=df["retweeted_status_hashtags"].apply(lambda x: [y["text"] for y in x] if(x is not None and len(x)!=0) else None)
df["retweeted_status_user_mentions"]=df["retweeted_status"].apply(lambda x: x["entities"]["user_mentions"] if pd.isnull(x)==False else None)
df["retweeted_status_user_mentions_user_id"]=df["retweeted_status_user_mentions"].apply(lambda x:[y["id"] for y in x] if (x is not None and len(x)!=0) else None)
df["retweeted_status_user_mentions_user_name"]=df["retweeted_status_user_mentions"].apply(lambda x:[y["name"] for y in x] if (x is not None and len(x)!=0) else None)

In [5]:
df.head(1)

,created_at,id,id_str,text,truncated,entities,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,user,geo,coordinates,place,contributors,is_quote_status,retweet_count,favorite_count,favorited,retweeted,lang,possibly_sensitive,extended_entities,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status,user_id,user_name,user_location,user_description,user_created_at,user_followers_count,user_friends_count,user_listed_count,user_favourites_count,user_statuses_count,user_lang,hashtags,hashtags_clean,user_mentions,user_mentions_user_id,user_mentions_user_name,quoted_status_created_at,quoted_status_text,quoted_status_hashtags,quoted_status_hashtags_clean,quoted_status_user_mentions,quoted_status_user_mentions_user_id,quoted_status_user_mentions_user_name,retweeted_status_created_at,retweeted_status_id,retweeted_status_text,retweeted_status_hashtags,retweeted_status_hashtags_clean,retweeted_status_user_mentions,retweeted_status_user_mentions_user_id,retweeted_status_user_mentions_user_name
0,2018-07-09 10:26:27+00:00,1016267329137729536,1016267329137729536,"@Fhumu_Makhwanya Hi, no you cannot withdraw fu...",False,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""https://www.lithium.com"" rel=""nofollo...",1.016267e+18,1.016267e+18,72326645.0,72326645.0,Fhumu_Makhwanya,"{'id': 56980888, 'id_str': '56980888', 'name':...",None,None,None,NaN,False,0,0,False,False,en,NaN,NaN,NaN,NaN,NaN,NaN,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,[],None,"[{'screen_name': 'Fhumu_Makhwanya', 'name': 'F...",[72326645],[Fhumulani Makhwanya],NaT,None,None,None,None,None,None,NaT,NaN,None,None,None,None,None,None

In [6]:
# get the "quoted" tweets

df[~(df["quoted_status"].isnull())].head(2)

,created_at,id,id_str,text,truncated,entities,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,user,geo,coordinates,place,contributors,is_quote_status,retweet_count,favorite_count,favorited,retweeted,lang,possibly_sensitive,extended_entities,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status,user_id,user_name,user_location,user_description,user_created_at,user_followers_count,user_friends_count,user_listed_count,user_favourites_count,user_statuses_count,user_lang,hashtags,hashtags_clean,user_mentions,user_mentions_user_id,user_mentions_user_name,quoted_status_created_at,quoted_status_text,quoted_status_hashtags,quoted_status_hashtags_clean,quoted_status_user_mentions,quoted_status_user_mentions_user_id,quoted_status_user_mentions_user_name,retweeted_status_created_at,retweeted_status_id,retweeted_status_text,retweeted_status_hashtags,retweeted_status_hashtags_clean,retweeted_status_user_mentions,retweeted_status_user_mentions_user_id,retweeted_status_user_mentions_user_name
110,2018-07-11 10:01:42+00:00,1016985878474973184,1016985878474973184,RT https://t.co/fA2wOuAQhn,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""https://www.lithium.com"" rel=""nofollo...",NaN,NaN,NaN,NaN,None,"{'id': 56980888, 'id_str': '56980888', 'name':...",None,None,None,NaN,True,3,9,False,False,und,0.0,NaN,NaN,1.016942e+18,1.016942e+18,{'created_at': 'Wed Jul 11 07:07:34 +0000 2018...,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,[],None,[],None,None,2018-07-11 07:07:34+00:00,#MyFearlessNext Mentor @DeneBothaSA believes f...,"[{'text': 'MyFearlessNext', 'indices': [0, 15]}]",[MyFearlessNext],"[{'screen_name': 'DeneBothaSA', 'name': 'Dene ...",[488366553],[Dene Botha],NaT,NaN,None,None,None,None,None,None
191,2018-07-12 10:25:08+00:00,1017354163271938048,1017354163271938048,One of our #MyFearlessNext mentors @BulelaniBa...,True,"{'hashtags': [{'text': 'MyFearlessNext', 'indi...","<a href=""https://www.lithium.com"" rel=""nofollo...",NaN,NaN,NaN,NaN,None,"{'id': 56980888, 'id_str': '56980888', 'name':...",None,None,None,NaN,True,2,4,False,False,en,0.0,NaN,NaN,1.017348e+18,1.017348e+18,{'created_at': 'Thu Jul 12 10:02:10 +0000 2018...,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,"[{'text': 'MyFearlessNext', 'indices': [11, 26]}]",[MyFearlessNext],"[{'screen_name': 'BulelaniBala', 'name': '#Get...",[186573691],[#GetThingsDone],2018-07-12 10:02:10+00:00,"@StandardBankZA yes , there is . I have a few ...",[],None,"[{'screen_name': 'StandardBankZA', 'name': 'St...",[56980888],[Standard Bank SA],NaT,NaN,None,None,None,None,None,None

In [7]:
# get the "retweeted" tweets

df[~(df["retweeted_status"].isnull())].head(2)

,created_at,id,id_str,text,truncated,entities,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,user,geo,coordinates,place,contributors,is_quote_status,retweet_count,favorite_count,favorited,retweeted,lang,possibly_sensitive,extended_entities,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status,user_id,user_name,user_location,user_description,user_created_at,user_followers_count,user_friends_count,user_listed_count,user_favourites_count,user_statuses_count,user_lang,hashtags,hashtags_clean,user_mentions,user_mentions_user_id,user_mentions_user_name,quoted_status_created_at,quoted_status_text,quoted_status_hashtags,quoted_status_hashtags_clean,quoted_status_user_mentions,quoted_status_user_mentions_user_id,quoted_status_user_mentions_user_name,retweeted_status_created_at,retweeted_status_id,retweeted_status_text,retweeted_status_hashtags,retweeted_status_hashtags_clean,retweeted_status_user_mentions,retweeted_status_user_mentions_user_id,retweeted_status_user_mentions_user_name
21,2018-07-09 16:17:52+00:00,1016355767333605380,1016355767333605376,RT @SB_BizConnect: Laurel and Rachel embraced ...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",NaN,NaN,NaN,NaN,None,"{'id': 56980888, 'id_str': '56980888', 'name':...",None,None,None,NaN,False,4,0,False,False,en,NaN,NaN,{'created_at': 'Mon Jul 09 16:13:49 +0000 2018...,NaN,NaN,NaN,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,[],None,"[{'screen_name': 'SB_BizConnect', 'name': 'SB ...",[18074661],[SB BizBanking],NaT,None,None,None,None,None,None,2018-07-09 16:13:49+00:00,1.016355e+18,Laurel and Rachel embraced their drive to own ...,[],None,[],None,None
142,2018-07-11 15:17:05+00:00,1017065246475857920,1017065246475857920,RT @IAFbrands: Media Alert:\n\nWe would like t...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,NaN,None,"{'id': 56980888, 'id_str': '56980888', 'name':...",None,None,None,NaN,True,3,0,False,False,en,NaN,NaN,{'created_at': 'Wed Jul 11 14:37:29 +0000 2018...,NaN,1.017029e+18,NaN,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,[],None,"[{'screen_name': 'IAFbrands', 'name': 'BEAT TH...","[2182460808, 186573691, 56980888]","[BEAT THE BRAND-U-WORRY, #GetThingsDone, Stand...",NaT,None,None,None,None,None,None,2018-07-11 14:37:29+00:00,1.017055e+18,Media Alert:\n\nWe would like to congratulate ...,[],None,"[{'screen_name': 'BulelaniBala', 'name': '#Get...","[186573691, 56980888]","[#GetThingsDone, Standard Bank SA]"

In [8]:
#clean result 1
clean_result1=df[[
    # tweet info
    'created_at',
    'id', 
    'text',
    'in_reply_to_status_id',
    'in_reply_to_user_id', 
    'in_reply_to_screen_name',
    'geo',
    'coordinates', 
    'place',
    'retweet_count', 
    'favorite_count',
    'favorited', 
    'retweeted', 
    'lang',

    # user info
    'user_id',
    'user_name',
    'user_location', 
    'user_description',
    'user_created_at',
    'user_followers_count',
    'user_friends_count', 
    'user_listed_count',
    'user_favourites_count',
    'user_statuses_count', 
    'user_lang', 
    'hashtags_clean',
    'user_mentions_user_id',
    'user_mentions_user_name',

    # quote info
    'is_quote_status', 
    'quoted_status',
    'quoted_status_id',
    'quoted_status_created_at',
    'quoted_status_text', 
    'quoted_status_hashtags_clean', 
    'quoted_status_user_mentions_user_id',
    'quoted_status_user_mentions_user_name',

    # retweet info
    'retweeted_status',
    'retweeted_status_created_at',
    'retweeted_status_id',
    'retweeted_status_text',
    'retweeted_status_hashtags_clean',
    'retweeted_status_user_mentions_user_id',
    'retweeted_status_user_mentions_user_name'
]]

clean_result1.to_csv("clean_result1.csv",index=False)

In [9]:
# clean result 2
clean_result2=df[[
    # tweet info
    'created_at',
    'id', 
    'text',
    'in_reply_to_status_id',
    'in_reply_to_user_id', 
    'in_reply_to_screen_name',
    'geo',
    'coordinates', 
    'place',
    'retweet_count', 
    'favorite_count',
    'favorited', 
    'retweeted', 
    'lang',

    # user info
    'user_id',
    'user_name',
    'user_location', 
    'user_description',
    'user_created_at',
    'user_followers_count',
    'user_friends_count', 
    'user_listed_count',
    'user_favourites_count',
    'user_statuses_count', 
    'user_lang',
    'hashtags_clean',
    'user_mentions_user_id',
    'user_mentions_user_name',
]]

clean_result2.to_csv("clean_result2.csv",index=False)

In [10]:
clean_result1=pd.read_csv("clean_result1.csv")
clean_result1.head()

C:\Users\Stone\AppData\Local\Temp/ipykernel_65064/3152044848.py:3: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  clean_result1=pd.read_csv("clean_result1.csv")

,created_at,id,text,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,geo,coordinates,place,retweet_count,favorite_count,favorited,retweeted,lang,user_id,user_name,user_location,user_description,user_created_at,user_followers_count,user_friends_count,user_listed_count,user_favourites_count,user_statuses_count,user_lang,hashtags_clean,user_mentions_user_id,user_mentions_user_name,is_quote_status,quoted_status,quoted_status_id,quoted_status_created_at,quoted_status_text,quoted_status_hashtags_clean,quoted_status_user_mentions_user_id,quoted_status_user_mentions_user_name,retweeted_status,retweeted_status_created_at,retweeted_status_id,retweeted_status_text,retweeted_status_hashtags_clean,retweeted_status_user_mentions_user_id,retweeted_status_user_mentions_user_name
0,2018-07-09 10:26:27+00:00,1016267329137729536,"@Fhumu_Makhwanya Hi, no you cannot withdraw fu...",1.016267e+18,7.232664e+07,Fhumu_Makhwanya,NaN,NaN,NaN,0,0,False,False,en,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,NaN,[72326645],['Fhumulani Makhwanya'],False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-07-09 10:39:38+00:00,1016270646060384256,"@GTalevi Hi, can you please share more informa...",1.016270e+18,3.701130e+08,GTalevi,NaN,NaN,NaN,0,0,False,False,en,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,NaN,[370112972],['Giulietta Talevi'],False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-07-09 10:45:25+00:00,1016272104839434240,"@Mandilele_ Hi, thank you for sharing your exp...",1.016272e+18,2.770973e+09,Mandilele_,NaN,NaN,NaN,0,0,False,False,en,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,NaN,[2770972799],['Nonkanyiso Ndilele'],False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-07-09 10:57:55+00:00,1016275249753743360,@GTalevi Please DM us your Home-Loan account n...,1.016273e+18,3.701130e+08,GTalevi,NaN,NaN,NaN,0,0,False,False,en,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,NaN,[370112972],['Giulietta Talevi'],False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-07-09 11:06:30+00:00,1016277410545889281,@Angvanreenen83 Please provide us with it.,1.016277e+18,4.149807e+08,Angvanreenen83,NaN,NaN,NaN,0,0,False,False,en,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,NaN,[414980706],['Angelique Kriel'],False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
clean_result2=pd.read_csv("clean_result2.csv")
clean_result2.head()

,created_at,id,text,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,geo,coordinates,place,retweet_count,favorite_count,favorited,retweeted,lang,user_id,user_name,user_location,user_description,user_created_at,user_followers_count,user_friends_count,user_listed_count,user_favourites_count,user_statuses_count,user_lang,hashtags_clean,user_mentions_user_id,user_mentions_user_name
0,2018-07-09 10:26:27+00:00,1016267329137729536,"@Fhumu_Makhwanya Hi, no you cannot withdraw fu...",1.016267e+18,7.232664e+07,Fhumu_Makhwanya,NaN,NaN,NaN,0,0,False,False,en,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,NaN,[72326645],['Fhumulani Makhwanya']
1,2018-07-09 10:39:38+00:00,1016270646060384256,"@GTalevi Hi, can you please share more informa...",1.016270e+18,3.701130e+08,GTalevi,NaN,NaN,NaN,0,0,False,False,en,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,NaN,[370112972],['Giulietta Talevi']
2,2018-07-09 10:45:25+00:00,1016272104839434240,"@Mandilele_ Hi, thank you for sharing your exp...",1.016272e+18,2.770973e+09,Mandilele_,NaN,NaN,NaN,0,0,False,False,en,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,NaN,[2770972799],['Nonkanyiso Ndilele']
3,2018-07-09 10:57:55+00:00,1016275249753743360,@GTalevi Please DM us your Home-Loan account n...,1.016273e+18,3.701130e+08,GTalevi,NaN,NaN,NaN,0,0,False,False,en,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,NaN,[370112972],['Giulietta Talevi']
4,2018-07-09 11:06:30+00:00,1016277410545889281,@Angvanreenen83 Please provide us with it.,1.016277e+18,4.149807e+08,Angvanreenen83,NaN,NaN,NaN,0,0,False,False,en,56980888,Standard Bank SA,South Africa,Every action sets something in motion and that...,2009-07-15 10:21:06+00:00,120597,13723,409,9593,153810,en,NaN,[414980706],['Angelique Kriel']